@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Confirmare cerere schimbare parolă</PageTitle>

<h1>Confirmare cerere schimbare parolă</h1>
<p>
    Vă rugăm să vă verificați e-mailul pentru a vă reseta parola.
</p>
