@page "/Account/ResetPasswordConfirmation"
<PageTitle>Confirmare resetare parolă</PageTitle>

<h1>Confirmare resetare parolă</h1>
<p>
    Parola a fost resetată. Accesați <a href="Account/Login">linkul</a> pentru a reveni la autentificare.
</p>
