<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/4247d39a-921e-474d-bae1-4818858f1354/resourceGroups/UAB/providers/Microsoft.Web/sites/colaborare</ResourceId>
    <ResourceGroup>UAB</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://colaborare.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>35c77576-0855-44db-be15-a5b2ed877cb1</ProjectGuid>
    <PublishUrl>https://colaborare.scm.azurewebsites.net/</PublishUrl>
    <UserName>$colaborare</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>